      h1 {
            text-align: center;
            color: rgb(114, 185, 247);
            background-color: rgba(221, 218, 218, 0.4);
            padding:11px;
            margin: 25px 500px;
        }