.bodydiv {
    margin-left: 70px;
    margin-right: auto;
    background-color: palevioletred;
}
.bodydiv div label {
    width: 100px;
}
.bodydiv div input {
    width: 50%;
}
.body div button {
    width: 100px;
    height: 50px;
    background-color: aqua;
    color: blueviolet;
}