body {
    margin: 0;
    padding: 0;
    background: #fafafa;
}
.main {
    position: relative;
    height: 100vh;
    width: 100%;
}

.container {
    background-image: linear-gradient(rgba(0,0,0,0.7), #03475b), url(images/osaka.jpg);
    height: 100vh;
    width: 100%;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    top: 0; 
    object-fit: cover;
}
.logo {
    color: #fff;
}
.main .navbar {
    position: relative;
    height: auto;
    width: 100%;

    margin: 2% 0 0 0;
    padding: 10px 0;
    display: flex;
    align-items: center

}
.main .logo:hover {
    color:rgba(0,0,0,0.4);
}
.main .navbar .logo {
    position: relative;
    height: 100%;
    width: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 600;
    left: 10%;
    cursor: pointer;
    text-shadow: 0px 0.5px 0px rgba(0,0,0,0.4);
    transition: 0.2s ease-in-out;
}
.main .navbar ul {
    position: relative;
    height: 100%;
    width: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 600;
    left: 40%;
}
.main .navbar ul li {
    list-style-type: none;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    padding: 10px;
    transition: 0.2s ease-in-out;
    box-shadow: 0px 0.5px 5px rgba(0,0,0,0.4);
    box-sizing: border-box;
    cursor: pointer;
}
.main .navbar ul li a {
    list-style-type: none;
    display: block;
    color: #fff;
    text-decoration: none;
}
.main .navbar ul li:hover {
    background: rgba(0,0,0,0.4);
}

.main .heading {
    position: absolute;
    height: auto;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.main .heading .head {
    position: relative;
    height: auto;
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-shadow: 0px 0.5px 5px rgba(0,0,0,0.4);
    color: #fff;
}
.main .heading .head span {
    color: #017fb5;
}