* {
    font-family: quatt-regular;
    
    /* font-family: barlow-medium; */
}


.customnav-color {
    background-color: #2f333a;
}

.main-color {
    color: #eb3e32;
}

h1, h2, h3, h4, h5, h6 {
    font-family: roboto-bold;
}

.mainbgColor {
    background-color: #eb3e32;
}
/* logo */
.logo-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}


/* start for language menu */
.sticky-top a{
    text-decoration: none; 
    color: #fff;
}
.sticky-top a:hover {
    color: #c0c0c0;
}
/* end for language menu */

/* start logo and menu adjustment */
.navbar-brand .logo-responsive {
    margin-left: 25px;
}

.collapse ul li .nav-link {
    text-transform: uppercase;
}
/* end logo and menu adjustment */

/*start slide img adjust */
.carousel-item img {
    height: 70vh;
    object-fit: cover;
}
/* end slide img */

/*start yasu intro img and description */
.introImg {
    border-radius: 7px;
    -moz-box-shadow: 10px 10px 50px #ccc;
    -webkit-box-shadow: 10px 10px 50px #ccc;
    box-shadow: 10px 10px 50px #ccc
}

.description {
    border-radius: 7px;
    border: 1px solid #dddedf;
    background-color: #e4e5e6;
    -moz-box-shadow: 10px 10px 50px #ccc;
    -webkit-box-shadow: 10px 10px 50px #ccc;
    box-shadow: 10px 10px 50px #ccc
}
/*end yasu intro img and description */


.description .desc {
    
    justify-content: center;
    letter-spacing: 2px;
    word-spacing: 3px;
}

.contactNo {
    width: 100%;
    background-color: rgb(241, 241, 241);
    text-align: right;
    border-radius: 25px;
    padding-right:  34px;
    
}

/* index.html က နောက်ခံပုံအကြည်ထည့်တာ */
#newsletter {
    background: url(../../pages/image/ichiken\ \(2\).JPG) no-repeat center center fixed;
    background-size: cover;
}
.title {
    margin-top: 25px;
}

/* start recruit  */
section .recruitForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    opacity: 0.7;
    padding: 20px;

}
form .div1 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
form .div2 {
    float: left;
    width: 75%;
    margin-top: 7px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;/*if you use padding here, have to use display->inline block*/
}
input[type=date],input[type=number],input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}
form button {
    background-color: #254051;
    color: white;
    padding: 9px 20px;
    border: none;
    border-radius: 7px;
    width: 111px;
    float: right;
    cursor: pointer;
}
form .btnsubmit {
    margin-top: 20px;
}
button:hover {
    background-color: white;
    color: #254051;
    box-shadow: #254051 7px 7px 7px;
}
/* end recruit */

/* for footer start */
.graycolor {
    color: #999;
}
 .infoFooter a {
    text-decoration: none;
    color: #999;
}
.mail {
    color: #3c5b9b;
}
.twitter {
    color: #000;
}
.whatsapp {
    color: #20ad25;
}
.line {
    color: #c619b8;
}
.instagram {
    color: #fba95c;
}

/* end footer */

/*start recruitment.html */
.recruitForm textarea {
    resize: none;
}

.recruitImg h5 {
    font-family: barlow-bold;
    font-weight: bolder;
    text-shadow: #254051 11px 11px 11px;
    font-size: 63px;
}
.recruitImg h4 {
    color: #999;
    text-shadow:
     -1px -1px 0 rgb(174, 185, 194),  
      1px -1px 0 rgb(174, 185, 194),
      -1px 1px 0 rgb(32, 116, 189),
       1px 2px 0 rgb(32, 116, 189);
}
.recruitImg {
    margin-top: 100px;
}


@media (min-width: 320px) and (max-width: 375px) {  
    .recruitImg {
        padding-top: 55px;
    }
}
.recruitImg img {
    height: 70vh;
    object-fit: cover;
}
.recruitImg .recruitmentLine {
    width: 90px;
    position: relative;
        /* top: 20px; */
        border: none;
        height: 12px;
        background: black;
        margin-bottom: 50px;
    margin: auto;
}
.recruitAR p{
    margin-top: -20px;
    /* margin-bottom: 50px; */
}
.recruitcontent {
    letter-spacing: 3px;
    color: #3c5b9b;
}

.tableRecruit table {
    max-width: 70%;
    margin: auto;
}
.tableRecruit tr {
    height: 70px;
    color: rgb(155, 157, 157);
}
.tableRecruit tr .descTD {
    letter-spacing: 3px;
    color: rgb(155, 157, 157);
}
.tableRecruit tr td {
    border: 1px solid rgb(83, 84, 84);
    border-collapse: collapse;
}
/* end recruitment.html */