
body {
    background-color: rgb(221, 219, 219);
}
h1 {
    text-align: center;
    color: red;
}
.form {
    width: 80%;
    margin: auto;
}
input[type="text"], input[type="number"], input[type="email"] {/*1. attribute selector for text, 2. group selector*/
    width: 100%;/*100၇ာနှုန်းအပြည့်ယူပေမယ့် formရဲ့အတွင်း80%ကို အပြည့်ယူလို ့ ၁၀၀ % */
    height: 40px;
}
input[type="text"]:focus,input[type="number"]:focus, input[type="email"]:focus { /*in textbox, to see curser*/
    border: 3px solid #555;
    outline: none;/*textbox ka border ko ဖျောက်တာ*/
    
}
input[type="radio"]:checked + label { /*for checkbox,  (check+lable) */
    color: royalblue;
    letter-spacing: 10px;
}
#address {
    width: 100%;
    outline: none;
    height: 100px;
    border-radius: 5px;
}
input[type="checkbox"]:enabled + label { /*enable + label */
    color: rgb(246, 255, 0);
    font-style: italic;
}input[type="checkbox"]:checked + label {
    color:rgb(205, 75, 75);
    font-style: normal;
}
input[type="checkbox"]:disabled + label { /*disabled + label */
    color: rgb(95, 91, 91);
}
/* ulli */
li:first-child {
    background-color: blueviolet;
    width: 80%;
}
li:last-child {
    background-color: rgb(114, 112, 112);
    width: 80%;
}
li:nth-child(2) {
    background-color: bisque;
    width: 80%;
}
li:nth-child(3) {
    background-color: rgb(74, 149, 224);
    width: 80%;
}li:nth-child(4) {
    background-color: rgb(90, 251, 197);
    width: 80%;
}
li:nth-child(5) {
    background-color: rgb(236, 244, 174);
    width: 80%;
}
li:nth-child(6) {
    background-color: rgb(173, 98, 114);
    width: 80%;
}
p:empty {
    background-color: rgb(102, 206, 248);
    height: 20px;
    width: 100%;
}
.thanks {
    text-align: center;
}
