h2 {
    color: #078a69;
    text-transform:uppercase;
    text-align: center;
}


/*universal selector*/
* {
    margin: 0px; /*သူကbody tag ထဲရေးထားသောhtml tag များကိုသက်ရောက်နေလိမ့်မည်*/
    padding: 0px;
}
/* tag/element selector */
h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #a60b0b;
}
/* attribute selector selector.html */
a[target="_blank"] { /*a tagထဲကဟာကိုဆလက်မှတ်ချင်ရင်သုံးတယ်။*/
    color: rgb(15, 169, 169); /*ကာလာအတွက်*/
    text-decoration: none; /*a tag အောက်က လိုင်းကိုဖျောက်တာ*/
}
/* id and selector idNselector.html နာမယ်ထပ်လို ့မရပါ */
#idselector {
    color: blueviolet;
    text-indent: 50px;/*စာပုတ်အစမှာနေရာချန်ချင်ရင်  */
}
/* class selector */
.classSelector {
    color: rgb(27, 140, 210);
    text-indent: 50px;
    line-height: 25px;
    word-spacing: 5px;
    letter-spacing: 10px;
}

/* decendent selector က tag  တစ်ခုထဲရှိသော   A အားလုံးကိုဆလက်လုပ်တာ */
.desc a {
    color: #e80a0a;
}
/* child selector */
.child >  a{ /* .child နဲ ့တိုက်ရိုက်ထိတွေ့နေသောatag ကိုပဲတိုက်ရိုက်သက်ရောက်တယ်*/
    color: green;
}

/* Pseudo selectorသူက a tag လေးတွေမှာအလုပ်လုပ်တယ် */
a:link {
    
    letter-spacing: 10px;
        
}
a:hover {
    color: aqua;
    
}
a:active {
    color: yellow;
    letter-spacing: 20px;
}
a:visited {
    color: rgb(142, 127, 255);
}
/* target */
p:target {
    border: 1px solid black;
    text-indent: 50px;
    word-spacing: 20px;
    line-height: 20px;
}
div:target {
    color: #e80a0a;
}
/*border.html*/
.border1 {
    border: 1px solid black;
}
.border2 {
    border-top: 2px solid #078a69;
}
.borderstyle {
    border-style: double;
}
.stylemix {
    /*border-style: dashed solid double dotted; /*top right btn left*/ 
    /*4 value*/
    /*border-style: dashed solid double; /*top left&right btn*/ 
    /*3 place*/
    border-style: dashed solid;/*top&btn left&right*/
    /*2 place*/
}

.borderwidth {
    border-width: thin; 
    /* သူကတစ်မျိုးတည်းကြေညာပေးလို့မရဖူး*/
    border-width: 10px 50px 3px 30px;/* နဲ ့မလုပ်ပဲ ေဘာင်ခတ်တာမတူချင်ရင် သုံးt r b l */
    border-style: solid;
}
/*margin.html */
.margin {
    /* margin: 50px; */
    /*သူက document ကနေစတယ်*/
    margin-top: 100px;
    border: 1px solid gray;
}
.padding { /*padding က border နဲ့ letter စသားကြားကအကွာအ၀ေး*/
    padding: 50px;
    border: 1px solid black;
}
.inline {
    border: solid 1px black;
    width: 400px;
    display: inline-block;
}

.block {
    border: 1px solid gray;
    width: 400px;
    display: inline-block;
}
/* float.html */
.floatleft img {
    width: 40%;
    float: left;
}
.clear {
    clear: both; /*both representing both float-left and float-right*/
}
.floatright img {
    width: 40%;
    float: right;
}

/* grid.html */
.grid1 div, .grid2 div, .grid3 div, .grid4 div, .grid5 div, .grid6 div{/*သူကdiv(grid1)ကနေသူ့အတွင်းမှာရှိသော(div)ကိုလှမ်းပြီးselect လုပ်တာ*/
    color: white;
    padding: 20px;
    text-align: center;
}
.grid1, .grid2, .grid3, .grid4, .grid5, .grid6 { /*သူကပင်မ div*/
    display: grid;/*gird ဆိုပြီးကြေငြာပေးတာ*/
    grid-template-columns: auto auto auto;
    /*auto ဆိုတာသူ့အရေအတွက်ပေါ်မူတည်ပြိးအညီအမျှပိုင်းပြီးနေရာယူလိုက်တာ*/
    /* grid-template-columns: 600px 500px auto; */
}
.grid2 {
    grid-column-gap: 40px;
}
.grid3 {
    grid-row-gap: 40px;
}
.grid4 {
    grid-gap: 20px;  
}
.colAdd {
    grid-column-start: 1;
    grid-column-end: 4;
}
.rowAdd {
    grid-row-start: 1;
    grid-row-end: 3;
}
/* position.html */
.relativeParent {
    width: 1000px;
    height: 600px;
    border: 1px solid red;
}
.relative {
    width: 500px;
    height:200px;
    border: 1px solid rgb(86, 86, 23);
    position: relative;
    top: 100px;
    left: 100px;
}
.absoluteParent {
    border: 1px solid blue;
    height: 600px;
    width: 900px;
    position: relative;
}
.absolute {
    border: 1px solid purple;
    width: 500px;
    height: 400px;
    position: absolute;
    top: 100px;

}

.fixed {
    position: fixed;
    top: 100px;
    left: 1110px;
}

/* font.html */
.online {
    font-family: 'Dancing Script', cursive;
}
@font-face {
    src: url(Lobster_Two/LobsterTwo-Regular.ttf); /*font လှမ်းချိတ်တာ*/
    font-family: yasu;
}
.offline {
    font-family: yasu;
}