* {
    margin: 0px;
    padding: 0px;
}
.logo {
    width: 100px;
    height: 70px;
    padding-left: 40px;
    margin-top: 20px;
}
.brandName {
    position: absolute;
    top: 45px;
    left: 75px;
    /* margin-top: -50px */
    font-family: lobster-italic;
    font-size: 20px;
}
.navBar ul{
    float: right;
}
.navBrand {
    display: inline-block;
}
.navBar ul li { /*decentent selector*/
    display: inline-block;
    margin-top: 45px;
    margin-right: 40px;
}
.navBar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}
.navBar ul li a:hover {
    color: #3c9ac1;/*logo color*/
    letter-spacing: 4px;
    transition-duration: 0.5s;/* ပြောင်းလဲသွားတဲ့အရှိန်လိုချင်ရင်သုံးရတယ် */
}
@font-face {
    font-family: lobster;
    src: url(../Lobster_Two/LobsterTwo-Regular.ttf);
}
@font-face {
    font-family: lobster-italic ;
    src: url(../Lobster_Two/LobsterTwo-BoldItalic.ttf);
}
/* nav ended */
/* background start */
.img {
    width: 100%;
    height: 570px;
}
.bgText {
    position: absolute;/*အပေါ်ကtagထဲကို၀င်ချင်လို့သုံးတယ်။ relative ဆိုရင်တော့အပေါ်ကtagနဲ့ကပ်ရက်နေရာကျတယ်*/
    top: 200px;
    left: 100px;
}
.welcome {
    font-family: lobster-italic;
    font-weight: unset;/*boldကိုပြန် ဖြုတ်တာ*/
    margin-bottom: 25px;/*h1, p tag အပေါ်အောက် ခြားချင်တာ */
}
.shopbtn {
    color: #3c9ac1;/*word*/
    /* width: 100px; */
    /* height: 40px; */
    padding: 10px 20px;/*w, h မသုံးချင်ပဲတခြားproperties သုံးချင်လို ့ဒါလေးသုံးတယ်*/
    margin-top: 20px;/* element တခုနဲ့တခုခြားချင်ရင် margin နဲ့ခြားလို့ရ */
    border: 1px solid #3c9ac1;/*border ကို အမဲရောင်မလိုချင်လို့ ဘောင်လာခတ်တာ*/
    border-radius: 5px;
}
.shopbtn:hover {
    color: white;/*text*/
    background-color: #3c9ac1;/*btn color*/
    cursor: pointer;/*change hand pointer when pointer on */
}
/* background end */
/* start product */
.header {
    text-align: center;
    margin-top: 50px;
}
.headerline {
    width: 100px;
    margin: auto;/*left right ကိုအညီအမျှအလယ်ရောက်အောင်ထားတာ*/
    border: 1px solid #3c9ac1;/* color adding */
    margin-bottom: 20px;
}
.product {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 20px;
    grid-gap: 30px;
    margin: 0px/*top n btn*/ 50px/*left n right*/;
    text-align: center;
}
.productImg {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.50);
}
.red {
    color: red;
}

/* end product */
.about { /*ပုံတွေကို ဒီကနေလည်းထည့်လို့ရတယ်*/
    background-image: url(../images/roses.jpg);
    margin-top: 80px;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    height: 250px;
}
.about div hr {
    width: 40px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.about div {
    margin: auto;
}
/* packaging start */
.packaging {
    margin-top: 80px;
    margin-left: 100px;
}
.packaging h1 {
    margin-bottom: 25px;
}
.packaging img {
    width: 45%;
    float: left;
    border-radius: 5px;
    margin-right: 70px;
}
.pkLetter {
    margin-top: 30px;
}
.pkText {
    margin-right: 30px;/*စာသားညာဘက်လိုင်းနဲ့အညီထားချင်လို့*/
    text-align: justify;/*ဟိုဘက်ဒီဘက်ညီအောင်*/
}
.pkText p {
    padding-top: 20px;
    line-height: 30px;
}
.clear {
    clear: both;
}
/* end packaging */
/* start service */
.service {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 80px;
    background-color: rgb(193, 205, 223);
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;
}
.service div p {
    display: inline-block;
    margin-left: 25px;
}
.service p b {
    font-size: 20px;
}
/* end service */
/* start footer */
.footer {
    background-color: rgb(66, 77, 87);
    color: grey;
}
.footeratag {
    text-decoration: none;
    color: grey;
    margin: 0px 20px;
    display: inline-block;
    padding-top: 50px;
    font-weight: bold;
}
.footer .center p {
    margin-top: 20px;
    margin-bottom: 20px;
}
.icon {
    color: gray;
    margin: 0px 10px;
    display: inline-block;
    margin: 0px 10px 50px;
}
/* end footer */
